{% extends 'doctor/doctorindex.html' %}
{% block body %}
<h1>Profile</h1>
<table border="2" class="table table-light">

    <tr>
        <td></td>
{#        <td><input type="image" width="50px" height="50px"></td>#}
        <td><img src="{{ data.photo }}"></td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{ data.name }}</td>
    </tr>
    <tr>
        <td>gender</td>
        <td>{{ data.gender }}</td>
    </tr>
    <tr>
        <td>place</td>
        <td>{{ data.place }}</td>
    </tr>
    <tr>
        <td>post</td>
        <td>{{ data.post }}</td>
    </tr>
    <tr>
        <td>pin</td>
        <td>{{ data.pin }}</td>
    </tr>
    <tr>
        <td>district</td>
        <td>{{ data.district }}</td>
    </tr>
    <tr>
        <td>state</td>
        <td>{{ data.state }}</td>
    </tr>
    <tr>
        <td>department</td>
        <td>{{ data.DEPARTMENT }}</td>
    </tr>
    <tr>
        <td>qualification</td>
        <td>{{ data.qualification }}</td>
    </tr>
</table>

{% endblock %}