{% extends 'Admin/adminindex.html' %}
{% block body %}
<form method="post" action="/hospitalapp/changepasswordP/" enctype="multipart/form-data.">
     {% csrf_token %}

<h1>Change Password</h1>
<table border="2" class="table table-light">
    <tr>
        <td>old password</td>
        <td><input type="text" name="p1"></td>
    </tr>
    <tr>
        <td> new password</td>
        <td><input type="text" name="p2"></td>
    </tr>
    <tr>
        <td> confirm new password</td>
        <td><input type="text" name="p3"></td>
    </tr>
    <tr>
        <td align="center"><input type="submit"></td>
        <td>  </td>
    </tr>
</table>
</form>
{% endblock %}