<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>ADMIN</h2>

    <a href="/hospitalapp/adddep/">add department</a><br>
    <a href="/hospitalapp/viewdep/">view department</a> <br>
    <a href="/hospitalapp/adddoctor/">add doctors</a><br>
    <a href="/hospitalapp/viewdoctor/">view doctors</a><br>
    <a href="/hospitalapp/viewpatient/">view Patient</a><br>
    <a href="/hospitalapp/viewpatientcomplaint/">view Patient complaint</a><br>
    <a href="/hospitalapp/changepassword/">Change password</a><br>

</body>
</html>